@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 1rem을 10px로 변환 (피그마 수치 1:1 대응을 위함) */
  font-size: 62.5%;

  /* 디자인 시스템 Primitive Tokens 설정 */
  --blue500: #3182f6;
  --grey900: #191f28;
  --grey600: #4e5968;
  --grey100: #f2f4f6;
  --white: #ffffff;
}

@layer base {
  body {
    /* 기본 폰트 크기를 16px(1.6rem)로 설정 */
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }

  /* HTML 태그 본연의 스타일을 초기화하여 디자인 시스템 컴포넌트와의 충돌 방지 */
  button,
  input,
  textarea {
    font-family: inherit;
  }
}
